.about {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 10%;
    line-height: 2rem;
}

.me-photos {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

img {
    max-width: 250px;
    margin: 10px;
    object-fit: cover;
}

.bio {
    margin-top: 30px;
}

.bio h1, .bio h2 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 10px dotted rgb(76,119,170);
    border-top: 10px dotted rgb(156,200,33);
}

.bio h1, .bio h2 {
    font-family: 'Amatic SC', cursive;
    padding: 20px 0;
    
}


.bio ul {
    list-style-type: none;
    flex-direction: column;
    list-style-position: inside;
}

.bio .skills {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-type: disc;
    font-size: 0.8rem;
}
